body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f9;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #004080;
  color: white;
  padding: 10px 20px;
}

header .logo {
  display: flex;
  align-items: center;
}



header .nav-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.logout-btn {
  background: #ff3333;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard {
  padding: 15px;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

.overview {
  display: flex;
  flex-direction: row;
  
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-top: 70px;
  gap: 30px;
  

}

.card {
flex: 1;
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 50px;
  
}

.quick-actions {
  margin-bottom: 30px;
  }
  .quick-actions h2{
    margin-bottom: 60px;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  }
  

.quick-actions button {
  margin-right: 60px;
  padding:40px 60px;
  background: #004080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 60px;
  
}

.active-sessions {
  margin-top: 100px;
  margin-bottom: 30px;
}
.active-sessions h2{
  margin-bottom: 30px;
  font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.session-box {
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 15px;
  color: #555;
  margin-left: 70px;
  margin-right: 70px;
}

.session-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.session-item:last-child {
  border-bottom: none;
}
